.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 20px;
}

/* .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
} */

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
